/* JSON part*/
/* different properties for different types*/

PisakSpellerText {
    color: black;
    font-size: 50px;
    font-family: Kelson Sans;
    border-image: url("../tlo_pola_tekstowego.png");
}

PisakMainPanelButton {
    color: black;
    font-size: 35pt;
    font-family: Kelson Sans;
    font-weight: bold;
    border-image: url("rest_button.png") 5;
}

PisakMainPanelButton:hover {
    color: white;
    border-image: url("hover_button.png") 5;
}

PisakSpellerButton, PisakSpellerKey, PisakSpellerPrediction {
    color: black;
    font-size: 18pt;
    font-family: Kelson Sans;
    font-weight: bold;
    border-image: url("rest_button.png") 5;
}

PisakSpellerButton:hover, PisakSpellerKey:hover, PisakSpellerPrediction:hover {
    color: white;
    border-image: url("hover_button.png");
}

PisakSpellerButton:active, PisakSpellerKey:active, PisakSpellerPrediction:active {
    color: white;
    border-image: url("speller_active_button.png");
}

MxButton:scanning {
    color: #ccc;
    border-image: url("speller_scanning_button.png");
}

MxButton:disabled{
    color: grey;
    font-size: 20pt;
    font-family: serif;
    border-image: url("disabled_button.png") 5;
}

MxProgressBar.PisakViewerProgressBar {
  border-image: url("progress_bar_background.png");
}

MxProgressBarFill.PisakViewerProgressBar {
  border-image: url("progress_bar_fill.png");
}

MxLabel.PisakViewerProgressBar {
  font-family: Kelson Sans;
  font-size: 30pt;
  color: white;
}

MxLabel.PisakViewerPhotoTile {
  font-family: Kelson Sans;
  font-size: 20pt;
  color: black;
}

MxLabel.PisakViewerAlbumHeader {
  font-size: 40pt;
  font-family: Kelson Sans;
  color: black;
}

PisakViewerButton {
  color: white;
  font-size: 20pt;
  font-family: Kelson Sans;
  font-weight: bold;
  border-image: url("viewer_rest_button.png");

}

PisakViewerButton:hover {
  color: black;
  font-size: 20pt;
  font-family: Kelson Sans;
  font-weight: bold;
  border-image: url("hover_button.png");
}


/*SVG part*/
/*
Jakob Jenkov
http://tutorials.jenkov.com/svg/svg-and-css.html

CSS Shape

fill -> Sets fill color of the shape.
fill-opacity -> Sets fill opacity of the shape.
fill-rule -> Sets fill rule of the shape.
marker -> Sets marker used along the lines (edges) of this shape.
marker-start -> Sets start marker used along the lines (edges) of this shape.
marker-mid -> Sets mid marker used along the lines (edges) of this shape.
marker-end -> Sets end marker used along the lines (edges) of this shape.
stroke -> Sets the stroke (line) color used to draw the outline of this shape.
stroke-dasharray -> Sets the stroke (line) dashing used to draw the outline of this shape.
stroke-dashoffset -> Sets the stroke (line) dash offset used to draw the outline of this shape.
stroke-linecap -> Sets the stroke (line) line cap used to draw the outline of this shape. Valid values are round, butt and square.
stroke-miterlimit -> Sets the stroke (line) miter limit used to draw the outline of this shape.
stroke-opacity -> Sets the stroke (line) opacity used to draw the outline of this shape.
stroke-width -> Sets the stroke (line) width used to draw the outline of this shape.
text-rendering -> Sets the text-rendering used to draw the outline of this shape.

CSS Gradient

stop-color -> Sets the stop color used in a stop element used in a gradient.
stop-opacity -> Sets the stop opacity used in a stop element used in a gradient.
*/
/*svg { - commented out, does not work with rsvg 2.40.2-1
width: 100%;
height: 100%
}*/

#l1 {
fill: green;
opacity: 1;
stroke: deepskyblue;
}

#l2 {

}

#l3 {

}

#l4 {

}

#l5 {

}
