MxProgressBar.style_class{PisakViewerProgressBar} {
  border-image: url("viewer_progress_bar_background.png");
}

MxLabel.style_class{PisakViewerProgressBar} {
  font-face: Kelson Sans;
  font-size: 20;
  color: white;
}

MxProgressBarFill.style_class{PisakViewerProgressBar} {
  border-image: url("viewer_progress_bar_fill.png");
}

MxLabel.style_class{PisakViewerPhotoTile} {
  font-face: Kelson Sans;
  font-size: 20;
  color: black;
}

PisakViewerButton {
  color: white;
  font-size: 18 pt;
  font-family: Kelson Sans;
  font-weight: bold;
  border-image: url("viewer_rest_button.png");

}

PisakViewerButton:scanning {
  color: black;
  border-image: url("viewer_scanning_button.png");
}
