svg {
fill: dark;
opacity: 1;
stroke: dark;
}
/*
#RACZKA {
fill: green;
opacity: 1;
stroke: deepskyblue}

#KIJ {
fill: green;
opacity: 1}

#WALEK {
fill: red;
stroke: none}

#W1 {
fill: green;
stroke: yellowgreen}

#W2 {
fill: pink;
stroke: red}

#W3 {
fill: red;
stroke: red}

#W4 {
fill: plum;
stroke: red}*/