#j1 {
fill: red;
opacity: 1;
stroke: deepskyblue}

#j2 {
fill: green;
opacity: 1}

#j3 {
fill: red;
stroke: none}

#j4 {
fill: green;
stroke: yellowgreen}

#j5 {
fill: pink;
stroke: red}

#j6 {
fill: red;
stroke: blue}

#j7 {
fill: red;
stroke: green}

#j8 {
fill: green;
stroke: deepskyblue}

#j9_1_ {
fill: pink;
opacity: 0.7;
stroke: yellow}

#J10 {
fill: yellow}