PisakViewerProgressBarBar{
  border-image: url('progress_bar_background.png');
}

PisakViewerProgressBarLabel{
  font-face: Kelson Sans;
  font-size: 20;
  color: white;
}

PisakViewerProgressBarBar MxProgressBarFill {
  border-image: url('progress_bar_fill.png');
}
