PisakViewerProgressBarBar{
  border-image: url("progress_bar_background.png");
}

PisakViewerProgressBarLabel{
  font-face: Kelson Sans;
  font-size: 20;
  color: white;
}

PisakViewerProgressBarBar MxProgressBarFill {
  border-image: url("progress_bar_fill.png");
}

PisakViewerPhotoTileLabel {
  font-face: Kelson Sans;
  font-size: 20;
  color: black;
}

PisakViewerButton {
  color: white;
  font-size: 18 pt;
  font-family: Kelson Sans;
  font-weight: bold;
  border-image: url("rest_button.png");

}

PisakViewerButton:scanning {
  color: black;
  border-image: url("scanning_button.png");
}
