PisakSpellerText {
    font-size: 48pt;
    font-family: Kelson Sans;
    color: black;
}

PisakSpellerButton, PisakSpellerKey, PisakSpellerPrediction {
    color: black;
    font-size: 18 pt;
    font-family: Kelson Sans;
    font-weight: bold;
    border-image: url("rest_button.png") 5;
}

PisakSpellerButton:hover, PisakSpellerKey:hover, PisakSpellerPrediction:hover {
    color: white;
    border-image: url("hover_button.png") 5;
}

PisakSpellerButton:active, PisakSpeller:key:active, PisakSpellerPrediction:active {
    color: white;
    border-image: url("active_button.png") 5;
}

MxButton:scanning {
    color: #ccc;
    border-image: url("active_button.png");
}

